﻿@model Dcupon.Models.CuponDetailsModel
@{
    ViewBag.Title = "CreateCupons";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="wrapper">

    <div class="mainnav">

        <div class="container">

            <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>

            <nav class="collapse mainnav-collapse" role="navigation">



                <ul class="mainnav-menu">

                    <li class="dropdown ">
                        <a href="@Url.Action("DashBoard", "Admin")">Dashboard</a>

                    </li>


                    <li class="dropdown active">

                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            Add
                            <i class="mainnav-caret"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">



                            <li>
                                <a href="@Url.Action("CreateCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("SubCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add SubCategories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateWebsites", "Admin")">
                                    <i class="fa fa-bars"></i> Add Websites Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateCupons", "Admin")">
                                    <i class="fa fa-ticket"></i> Add Coupons
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("ImageUpload", "Admin")">
                                    <i class="fa fa-picture-o"></i> Upload Images
                                </a>
                            </li>



                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("CouponsList", "Admin")">Coupons List</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("MobileUsers", "Admin")">Mobile Users</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("RegUsers", "Admin")">Registered Users</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("slider", "Admin")">Slider</a>

                    </li>

                </ul>

            </nav>

        </div> <!-- /.container -->

    </div>
    
    
    
    <!-- /.mainnav -->
    @using (Html.BeginForm("CreateCupons", "Admin", FormMethod.Post, new { id = "CreateCupons" }))
    {
        <div class="content">
            <div class="container">
                <section class="demo-section">





                    <div class="col-md-6 form-group">
                        <label for="name">Title <span class="mandatory">*</span></label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "validate[required] form-control" })
                    </div> <!-- /.form-group -->


                    

                    <div class="col-md-6 form-group">
                        <label for="name">Redirect Type <span class="mandatory">*</span></label>

                       
                        @Html.DropDownListFor(x => x.RedirectType, Model.RedirectTypes, new { @class = "validate[required] form-control" })


                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Redirect Url <span class="mandatory">*</span></label>
                        @Html.TextBoxFor(m => m.RedirectUrl, new { @class = "validate[required] form-control" })
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Cupon Code <span class="mandatory">*</span></label>
                        @Html.TextBoxFor(m => m.CuponCode, new { @class = "validate[required] form-control" })
                    </div> <!-- /.form-group -->
                    <div class="col-md-6 form-group">
                        <label for="name">Category <span class="mandatory">*</span></label>

                        @Html.DropDownListFor(x => x.CategoriesId, Model.Category(0), new { @class = "validate[required] form-control" })  

                    </div>


                    <div class="col-md-6 form-group">
                        <label for="name">Website Category <span class="mandatory">*</span></label>

                        @Html.DropDownListFor(x => x.WebsitesId, Model.website(0), new { @class = "validate[required] form-control" })  

                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Select Image <span class="mandatory">*</span></label>

                        @Html.DropDownListFor(x => x.ImageurlId, Model.Image(0), new { @class = "validate[required] form-control" }) 

                    </div>
                    <div class="col-md-6 form-group">
                        <label for="name">Select Subcategory <span class="mandatory">*</span></label>

                        @Html.DropDownListFor(x => x.SubcategoriesID, Model.subcategoryList(0), new { @class = "validate[required] form-control" })

                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Coupon Type <span class="mandatory">*</span></label>
                        @Html.DropDownListFor(x => x.CouponType, Model.CuponTypes, new { @class = "form-control" }) 
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Description <span class="mandatory">*</span></label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "validate[required] form-control", rows = "4" })

                    </div>



                    <div class="col-md-6 form-group">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div> 
                   




                </section> 
                
                <!-- /.demo-section -->

            </div>



        </div> <!-- .content -->

    }
</div>