﻿ 

@{
    Layout = null;
}

<!DOCTYPE html>

 

<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find Best Price Deals ,Coupons & Offers on Travel - Food - Recharge & Shopping across popular online ecommerce websites.">    
    <title>OntoDeals</title>
    <meta property="og:title" content="Coupons and Deals website" />
    <meta property="og:site_name" content="ontodeals" />
    <meta property="og:description" content="We choose the Best deals Online and update them better than most other Coupon and Deal sites. It’s like getting paid to shop online. Sign up for free or Enter your Mobile Number ,E-Mail i.d in Recharge Form and Shop , So you don’t miss any more Deals,Coupons or Savings." />
    <meta property="og:image" content="~/Content/images/og-image.jpg" />
    
    <!-- Favicons Icon -->
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/revslider.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.css" rel="stylesheet" />
    @*<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/css/validationEngine.jquery.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600" rel="stylesheet" type="text/css">

    <input type="hidden" value="@Url.Action("DashBoard", "Customer")" id="dash"/>
</head>
<body>
    <div class="page">
        <header class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">



                        <div class="col-xs-6 pull-right">

                            <!-- Header Top Links -->
                            <div class="toplinks">
                                <div class="links">
                                    <!--    <div class="myaccount"><a title="My Account" href="login.html"><span class="hidden-xs">My Account</span></a></div>
                                   <div class="wishlist"><a title="My Wishlist"  href="wishlist.html"><span class="hidden-xs">Wishlist</span></a></div>
                                   <div class="check"><a title="Checkout" href="checkout.html"><span class="hidden-xs">Checkout</span></a></div> -->
                                    
                                    @if (Session["Username"]!=null)
                                    {
                                     <div class="login"><a href="@Url.Action("DashBoard", "Customer")">Welcome @Session["Username"]</a></div>
                                      <a href="@Url.Action("LogOut", "Customer")" >Logout</a>
                                    
                                    }
                                    else
                                    { 
                                    <div class="login">
                                    <a title="Login" href="#" data-toggle="modal" data-target="#myModal">
                                         <span >Log In</span>
                                    </a> 
                                        
                                        <span class="spli">|</span>

                                        <a title="Register" href="#" data-toggle="modal" data-target="#userReg">
                                            <span>Register</span>
                                        </a>
                                    </div>
                              
                                        if (Session["Error"] != null)
                                        { 
                                         <input type="hidden" id="Error" value="@Session["Error"]" />
                                        }
                                    }

                                </div>
                            </div>
                            <!-- End Header Top Links -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Header Logo -->
                        <p class="logo-h"><a class="logo" title="ontodeals" href="@Url.Action("index","home")"><img alt="ontodeals" src="~/Content/images/logo-new.png"></a></p>
                        <!-- End Header Logo -->
                    </div>

                    
                    <div class="col-md-5 search-b">
                        <!-- Search-col -->
@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "search_mini_form" }))
{




    <p>
        <input type="text" placeholder="Search Coupons (eg. Flipkart,etc...)" value="" maxlength="70" class="" name="search" id="search" data_autocomplete="@Url.Action("SearchList", "Home" )">
        @*@Html.TextBox("search", new
            {
                @class = "",
                id="search",
                value = "",
                autocomplete = "off",
                placeholder = "Search Coupons (eg. Flipkart,etc...)",
                data_autocomplete = Url.Action("SearchList", "Home")
            })*@


        <button id="submit-button" class="search-btn-bg"><span>Search</span></button>


    </p>

}
                        <!-- End Search-col -->
                    </div>
                    <div class="col-md-4  free-recharge">
                        <p>
                            <a id="reg-button" class="reg-btn-lg" data-toggle="modal" data-target="#needrecharge"><span>Enter Mobile Number to Get Recharge</span></a>
                        </p>
                    </div>
                    

                </div>
            </div>
        </header>

        <nav class="">
            <div class="container">
                <div class="nav-inner">
                    
                    @{Html.RenderAction("LoadNavigationMenu", "Home");}
                  
                </div>
            </div>

        </nav>  
      @RenderBody()

  
        

    </div>
    <footer class="footer bounceInUp animated">

        @*<div class="brand-logo ">

            <div class="container">

                <div class="slider-items-products">

                    <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col6">

                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/flipkart.jpg" alt="Image"></a> </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/amazon.jpg" alt="Image"></a> </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/myntra.jpg" alt="Image"></a> </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/firstcry.jpg" alt="Image"></a> </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/paytm.jpg" alt="Image"></a> </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/redbus.jpg" alt="Image"></a> </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/justeat.jpg" alt="Image"></a> </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item"> <a href="#x"><img src="~/content/images/dominos.jpg" alt="Image"></a> </div>
                            <!-- End Item -->

                        </div>
                    </div>
                </div>

            </div>
        </div>*@

        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-logo"><a href="@Url.Action("index", "Home")" title="Logo"><img src="~/content/images/logo-new.png" alt="logo"></a></div>

                    </div>
                    <div class="col-md-3 aln-center">
                        @*<p class="prd-desc">Your <b>Coupons</b> source for best discounts and offers online.</p>*@
                        <img src="~/Content/images/banner2.png" />
                    </div>

                    <div class="col-md-3 aln-center">
                        @*<p class="prd-desc">Your <b>Coupons</b> source for best discounts and offers online.</p>*@
                        <img src="~/Content/images/bannere.png" />
                    </div>

                    <div class="col-md-3 aln-center">
                        @*<p class="prd-desc">Your <b>Coupons</b> source for best discounts and offers online.</p>*@
                        <img src="~/Content/images/banner4.png" />
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-middle container">

            <div class="col-md-3">
                <h4>Quick Links</h4>
                <ul class="links">
                    <li class="first"><a href="@Url.Action("Aboutus","Home")" >About Us</a></li>
                    <li><a href="@Url.Action("faq","Home")">FAQs</a></li>
                    <li><a href="@Url.Action("whereismyrecharge","Home")">Where is my Recharge?</a></li>
                    
                    
                </ul>
            </div>
            <div class="col-md-3">
                <h4>&nbsp;</h4>
                <ul class="links">

                    <li><a href="@Url.Action("howitworks","Home")" >How it works?</a></li>
                    <li><a href="@Url.Action("privacypolicy","Home")">Privacy Policy</a></li>
                    <li class="last"><a href="@Url.Action("termsofuse", "Home")" >Terms of Use</a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <h4>&nbsp;</h4>
                <ul class="links">
                    <li><a href="sitemap.xml">Sitemap</a></li>
                    <li><a href="@Url.Action("sitemap","Home")" >Storelist</a></li>
                    <li><a href="@Url.Action("press","Home")" >Blog</a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact us</h4>
                <div class="contacts-info">
                    @*<address>
                        <i class="add-icon">&nbsp;</i>123 Main Street, Anytown, <br>
                        &nbsp;CA 12345  USA
                    </address>*@
                    @*<div class="phone-footer"><i class="phone-icon">&nbsp;</i> +1 800 123 1234</div>*@
                    <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:support@ontodeals.com">support@ontodeals.com</a> </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="col-sm-5 coppyright"> © 2015 OntoDeals. All Rights Reserved.</div>

                <div class="social-icon col-sm-5 pull-right" >
                    <a href="https://www.facebook.com/pages/Ontodeals/575697802572769" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>

                    <a href="https://twitter.com/ontodeals_real" target="_blank">
                        <i class="fa fa-twitter-square"></i>
                    </a>

                    <a href="https://plus.google.com/b/107726982959644575469" target="_blank">
                        <i class="fa fa-google-plus-square"></i>
                    </a>

                   

                   

                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.clipboard.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/parallax.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/revslider.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.validationEngine-en.js"></script>
    <script src="~/Content/js/jquery.validationEngine.js"></script>
    @*<script src="~/Content/js/jquery-ui.min.js"></script>*@
    <script type='text/javascript'>
    jQuery(document).ready(function () {
        jQuery('#rev_slider_4').show().revolution({
            dottedOverlay: 'none',
            delay: 15000,
            startwidth: 770,
            startheight: 346,

            hideThumbs: 200,
            thumbWidth: 200,
            thumbHeight: 50,
            thumbAmount: 2,

            navigationType: 'thumb',
            navigationArrows: 'solo',
            navigationStyle: 'round',

            touchenabled: 'on',
            onHoverStop: 'on',

            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,

            spinner: 'spinner0',
            keyboardNavigation: 'off',

            navigationHAlign: 'center',
            navigationVAlign: 'bottom',
            navigationHOffset: 0,
            navigationVOffset: 20,

            soloArrowLeftHalign: 'left',
            soloArrowLeftValign: 'center',
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,

            soloArrowRightHalign: 'right',
            soloArrowRightValign: 'center',
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,

            shadow: 0,
            fullWidth: 'on',
            fullScreen: 'off',

            stopLoop: 'off',
            stopAfterLoops: -1,
            stopAtSlide: -1,

            shuffle: 'off',

            autoHeight: 'off',
            forceFullWidth: 'off',
            fullScreenAlignForce: 'off',
            minFullScreenHeight: 0,
            hideNavDelayOnMobile: 1500,

            hideThumbsOnMobile: 'off',
            hideBulletsOnMobile: 'off',
            hideArrowsOnMobile: 'off',
            hideThumbsUnderResolution: 0,

            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            fullScreenOffsetContainer: ''
        });
        $('form').validationEngine({
            scroll: false,
            promptPosition: "bottomLeft"
        });

        var ur = $('#search').attr('data_autocomplete');
        //$('#search').autocomplete({
        //    source: function (request, response) {
        //        $.ajax({ 

        //            dataType: "json",
        //            data: {
        //                term: request.term
        //            },
        //            url: "http://" + window.location.host + "/Home/SearchList?term=" + request.term,
        //            success: function (data) {

        //                response(data);



        //            }
        //        });
        //    }
        //});


      


        $('#dealPopup').on('shown.bs.modal', function () {
            
            var client = new ZeroClipboard(document.getElementById("copy-t"));

            client.on("ready", function (readyEvent) {
                // alert( "ZeroClipboard SWF is ready!" );

                client.on("aftercopy", function (event) {
                    $('#copy-t').text('code copied');
                });
            });

            
        })
       
    });

    $(window).load(function () {

       

    })
    </script>

    @{Html.RenderAction("_Register", "Home");}

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id='dealPopup' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Here is your coupon code</h4>
                </div>
                <div class="modal-body clearfix">
                   <p class="coupon-code">DSC400</p>
                   <p class="redirect-vendor">Go to <a href="#">Amazon</a> and avail this offer</p>
                   <p class="sharethisoffer">Share this offer via <a href="#">Email</a></p>
                    <div class="coupon-dets">
                        <p class="coupon-title">Flat Rs. 400 Off on Rs. 2200+</p>
                        <p class="coupon-description">Get flat Rs. 400 off on orders worth Rs. 2200 or more. Use coupon code to avail this offer.</p>
                        <p class="offerby"><a href="#">View all Amazon offers</a></p>
                    </div>
                    
                       
                    
                </div>

            </div>
        </div>
    </div>
    <!--modal-->
    <!--<script src="http://load.sumome.com/" data-sumo-site-id="15822f69e2db9dc76204c15d7421f825072504404fd94a3ba735a4996cbdbca0" async="async"></script>-->

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63927188-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>




 
