﻿@model Dcupon.Models.DataModel
@{
    ViewBag.Title = "CouponsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/ontodeal.min.js"></script>
<div id="wrapper">

    <div class="mainnav">

        <div class="container">

            <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>

            <nav class="collapse mainnav-collapse" role="navigation">



                <ul class="mainnav-menu">

                    <li class="dropdown ">
                        <a href="@Url.Action("DashBoard", "Admin")">Dashboard</a>

                    </li>


                    <li class="dropdown ">

                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            Add
                            <i class="mainnav-caret"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">



                            <li>
                                <a href="@Url.Action("CreateCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("SubCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add SubCategories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateWebsites", "Admin")">
                                    <i class="fa fa-bars"></i> Add Websites Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateCupons", "Admin")">
                                    <i class="fa fa-ticket"></i> Add Coupons
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("ImageUpload", "Admin")">
                                    <i class="fa fa-picture-o"></i> Upload Images
                                </a>
                            </li>



                        </ul>
                    </li>

                    <li class="dropdown active">
                        <a href="@Url.Action("CouponsList", "Admin")">Coupons List</a>

                    </li> 

                    <li class="dropdown">
                        <a href="@Url.Action("MobileUsers", "Admin")">Mobile Users</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("RegUsers", "Admin")">Registered Users</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("slider", "Admin")">Slider</a>

                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("ImportData", "Admin")">Import Data</a>

                    </li>

                </ul>

            </nav>

        </div> <!-- /.container -->

    </div>
    
     <!-- /.mainnav -->


    <div class="content">

        <div class="container">




            <div class="row">

                <div class="col-md-12">

                    <div class="portlet">

                        <h4 class="portlet-title">
                            <u>All Coupons on <b>Categories</b></u>
                        </h4>

                        <div class="portlet-body">

                            <table class="table table-bordered coupons-list">
                                <thead>
                                    <tr>
                                        <th width="50%">Title</th>
                                        <th width="20%">Category</th>
                                        <th width="20">Website</th>
                                        <th width="10%">Status</th>
                                    </tr>
                                </thead>
                             
                                <tbody>

                                   @for (int i = 0; i < Model.listofCupon.Count; i++)
                                   {
                                       
                                       
                                       <tr>
                                        <td>@Model.listofCupon[i].Title</td>
                                        <td>@Model.listofCupon[i].Category</td>
                                        <td>@Model.listofCupon[i].Website</td>
                                           @if(Model.listofCupon[i].Isactive == 0)
                                           { 
                                        <td class="status-switch"><a href="@Url.Action("UpdateIsactiveCouponsList", "Admin", new { id = Model.listofCupon[i].Id })"><span class="active_deal">Active </span></a> <a href="@Url.Action("UpdateCupons", "Admin", new { id = Model.listofCupon[i].Id })"><i class="fa fa-pencil-square-o"></i></a></td>
                                           }
                                           
                                           else 
                                           {
                                               <td class="status-switch"><a href="@Url.Action("UpdateIsactiveCouponsList", "Admin", new { id = Model.listofCupon[i].Id })"><span class="inactive_deal">In-Active</span> </a> <a href="@Url.Action("UpdateCupons", "Admin", new {id =Model.listofCupon[i].Id})"><i class="fa fa-pencil-square-o"></i></a></td>
                                           }
                                    </tr> 
                                       
                                       
                                   }
                                   
 

                                 
                                </tbody>
                            </table>

                        </div> <!-- /.portlet-body -->

                    </div> <!-- /.portlet -->

                </div> <!-- /.col -->




            </div> <!-- /.row -->




        </div> <!-- /.container -->

    </div>

    </div>
