﻿@model Dcupon.Models.CustomerMobileModel
@{
    ViewBag.Title = "mobileusers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/ontodeal.min.js"></script>
<div class="mainnav">

    <div class="container">

        <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </a>

        <nav class="collapse mainnav-collapse" role="navigation">



            <ul class="mainnav-menu">

                <li class="dropdown ">
                    <a href="@Url.Action("DashBoard", "Admin")">Dashboard</a>

                </li>


                <li class="dropdown ">

                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Add
                        <i class="mainnav-caret"></i>
                    </a>

                    <ul class="dropdown-menu" role="menu">



                        <li>
                            <a href="@Url.Action("CreateCategory", "Admin")">
                                <i class="fa fa-bars"></i> Add Categories
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("SubCategory", "Admin")">
                                <i class="fa fa-bars"></i> Add SubCategories
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("CreateWebsites", "Admin")">
                                <i class="fa fa-bars"></i> Add Websites Categories
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("CreateCupons", "Admin")">
                                <i class="fa fa-ticket"></i> Add Coupons
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("ImageUpload", "Admin")">
                                <i class="fa fa-picture-o"></i> Upload Images
                            </a>
                        </li>



                    </ul>
                </li>

                <li class="dropdown">
                    <a href="@Url.Action("CouponsList", "Admin")">Coupons List</a>

                </li>

                <li class="dropdown active">
                    <a href="@Url.Action("MobileUsers", "Admin")">Mobile Users</a>

                </li>

                <li class="dropdown">
                    <a href="@Url.Action("RegUsers", "Admin")">Registered Users</a>

                </li>

                <li class="dropdown">
                    <a href="@Url.Action("slider", "Admin")">Slider</a>

                </li>

                <li class="dropdown">
                    <a href="@Url.Action("ImportData", "Admin")">Import Data</a>

                </li>

            </ul>

        </nav>

    </div> <!-- /.container -->

</div>

<!-- /.mainnav -->

<div class="content">
    <div class="container">

        <div class="portlet">

            <h4 class="portlet-title">
                <u>Mobile Users List</u>
            </h4>

            <div class="portlet-body">
             <table class="table table-bordered">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Mobile No</th>
                         <th>Mobile Operator</th>
                     </tr>
                 </thead>
                 <tbody>
                     @for(int i=0;i<Model.listofmobile.Count();i++)
                     { 
                     <tr>
                         <td>@Model.listofmobile[i].Name</td>
                         <td>@Model.listofmobile[i].Mobile</td>
                         <td>@Enum.GetName(typeof(Dcupon.Models.CustomerDetails.MobileOperator), Model.listofmobile[i].MobileOperator)   </td>

                     </tr>
                     }
                 </tbody>
             </table>
                

            </div> <!-- /.portlet-body -->

        </div> <!-- /.portlet -->

    </div>


</div>
