﻿@model Dcupon.Models.SliderModel
@{
    ViewBag.Title = "slider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/ontodeal.min.js"></script>
<div id="wrapper">

    <div class="mainnav">

        <div class="container">

            <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>

            <nav class="collapse mainnav-collapse" role="navigation">



                <ul class="mainnav-menu">

                    <li class="dropdown ">
                        <a href="@Url.Action("DashBoard", "Admin")">Dashboard</a>

                    </li>


                    <li class="dropdown ">

                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            Add
                            <i class="mainnav-caret"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">



                            <li>
                                <a href="@Url.Action("CreateCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("SubCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add SubCategories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateWebsites", "Admin")">
                                    <i class="fa fa-bars"></i> Add Websites Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateCupons", "Admin")">
                                    <i class="fa fa-ticket"></i> Add Coupons
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("ImageUpload", "Admin")">
                                    <i class="fa fa-picture-o"></i> Upload Images
                                </a>
                            </li>



                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("CouponsList", "Admin")">Coupons List</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("MobileUsers", "Admin")">Mobile Users</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("RegUsers", "Admin")">Registered Users</a>

                    </li>

                    <li class="dropdown active">
                        <a href="@Url.Action("slider", "Admin")">Slider</a>

                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("ImportData", "Admin")">Import Data</a>

                    </li>

                </ul>

            </nav>

        </div> <!-- /.container -->

    </div>
    <!-- /.mainnav -->
    <div class="content">
        <div class="container">


            <div class="portlet">

                <h4 class="portlet-title">
                    <u>Slider Configuration</u>
                </h4>

                <div class="portlet-body">

                    <div class="col-md-5">

                     @using (Html.BeginForm("UpdateSlider", "Admin", FormMethod.Post, new { id = "UpdateSlider" }))
               {
                            <div class="form-group">
                                <label>Slider Image</label>
                                @Html.DropDownListFor(x => x.imageid, Model.Image(0), new { @class = "validate[required] form-control" })
                                
                            </div>

                            <div class="form-group">
                                <label>Slider Description</label>
                                @*<input type="text" class="form-control validate[required]" />*@
                                @Html.TextBoxFor(a => a.description, new { @class = "validate[required] form-control" })
                                @Html.HiddenFor(q=>q.id, new {@id="updateid"})
                            </div>

                            <div class="form-group">
                                <label>Slider Link</label>
                                @Html.TextBoxFor(a => a.redirectlink, new { @class = "validate[required] form-control" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-danger pull-right">Save</button>

                            </div>

                     }
                    </div>

                    <div class="col-md-5">
                        <table class="table">
                            <tr>
                                <th colspan="2">Sliders List</th>
                            </tr>

                            @for (int i = 0; i < Model.listsliderdetails.Count; i++)
                            {

                                
                                 <tr>
                                <td>slider @(i+1)</td>
                                <td>
                                   <i class="fa fa-edit edit-slider" title="Edit Slider" data-image="@Model.listsliderdetails[i].imageid" data-description="@Model.listsliderdetails[i].description" data-id="@Model.listsliderdetails[i].id" data-link="@Model.listsliderdetails[i].redirectlink"></i>
                                </td>

                            </tr>
                            }
                           
                           

                        </table>

                    </div>
                </div>
        


            </div>
            <!-- .content -->

        </div>

        </div>

    </div>
<!-- /#wrapper -->

