﻿@model Dcupon.Models.SubCategoryModel

@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/ontodeal.min.js"></script>
 <div id="wrapper">



     <div class="mainnav">

         <div class="container">

             <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <i class="fa fa-bars"></i>
             </a>

             <nav class="collapse mainnav-collapse" role="navigation">



                 <ul class="mainnav-menu">

                     <li class="dropdown ">
                         <a href="@Url.Action("DashBoard", "Admin")">Dashboard</a>

                     </li>


                     <li class="dropdown active">

                         <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                             Add
                             <i class="mainnav-caret"></i>
                         </a>

                         <ul class="dropdown-menu" role="menu">



                             <li>
                                 <a href="@Url.Action("CreateCategory", "Admin")">
                                     <i class="fa fa-bars"></i> Add Categories
                                 </a>
                             </li>


                             <li>
                                 <a href="@Url.Action("SubCategory", "Admin")">
                                     <i class="fa fa-bars"></i> Add SubCategories
                                 </a>
                             </li>


                             <li>
                                 <a href="@Url.Action("CreateWebsites", "Admin")">
                                     <i class="fa fa-bars"></i> Add Websites Categories
                                 </a>
                             </li>


                             <li>
                                 <a href="@Url.Action("CreateCupons", "Admin")">
                                     <i class="fa fa-ticket"></i> Add Coupons
                                 </a>
                             </li>

                             <li>
                                 <a href="@Url.Action("ImageUpload", "Admin")">
                                     <i class="fa fa-picture-o"></i> Upload Images
                                 </a>
                             </li>



                         </ul>
                     </li>

                     <li class="dropdown">
                         <a href="@Url.Action("CouponsList", "Admin")">Coupons List</a>

                     </li>

                     <li class="dropdown">
                         <a href="@Url.Action("MobileUsers", "Admin")">Mobile Users</a>

                     </li>

                     <li class="dropdown">
                         <a href="@Url.Action("RegUsers", "Admin")">Registered Users</a>

                     </li>

                     <li class="dropdown">
                         <a href="@Url.Action("slider", "Admin")">Slider</a>

                     </li>
                     <li class="dropdown">
                         <a href="@Url.Action("ImportData", "Admin")">Import Data</a>

                     </li>

                 </ul>

             </nav>

         </div> <!-- /.container -->

     </div>
     
     <!-- /.mainnav -->


    <div class="content">
        <div class="container">
            <section class="demo-section">



                <ul id="myTab1" class="nav nav-tabs">
                    <li class="active">
                        <a href="#categories-list" data-toggle="tab">Sub Categories</a>
                    </li>


                </ul>

                <div id="myTab1Content" class="tab-content">



                    <div class="tab-pane fade active in" id="categories-list">
                        @using (Html.BeginForm("CreateSubCategory", "Admin", new { id = 0 }, FormMethod.Post))
                        {
                            <div class="row">

                                <div class="col-md-6 form-group">
                                    <label for="name">Coupon Type <span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(x => x.categoriesID, Model.categoryList(0), new { @class = "validate[required] form-control", id = "categoriesID" })
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Category Name <span class="mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.Title, new { @class = "validate[required] form-control" })
                                    </div> <!-- /.form-group -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger">Save</button>
                                    </div> <!-- /.form-group -->



                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered categories">
                                        <tr>
                                            <th colspan="2">
                                                Sub-Category Name
                                            </th>
                                        </tr>




                                        @foreach (var list in Model.listofsubcategory)
                                        {
                                            <tr>
                                                <td>@list.Title</td>


                                                <td>
                                                    <a id="@list.id" class="editSubCategory" data-dropval="@list.categoriesID"  href="#">Edit</a>
                                                   
                                                </td>

                                                @if (list.Isactive == 0)
                                                {
                                                    <td class="status-switch"><a href="@Url.Action("UpdateIsactiveSubCategories", "Admin", new { id = list.id })"><span class="active_deal" title="Click to Activate/Deactivate">Active </span></a></td>
                                                }

                                                else
                                                {
                                                    <td class="status-switch"><a href="@Url.Action("UpdateIsactiveSubCategories", "Admin", new { id = list.id })"><span class="inactive_deal" title="Click to Activate/Deactivate">In-Active</span> </a></td>
                                                }
                                            </tr>


                                        }



                                    </table>

                                </div>
                            </div>
                        }
                    </div>






                    <!-- /.tab-pane -->





                </div>
                <!-- /.tab-content -->

            </section> <!-- /.demo-section -->

        </div>



    </div> 
     
     <!-- .content -->
</div>



