﻿@model Dcupon.Models.CuponDetailsModel
@{
    ViewBag.Title = "CreateCupons";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/ontodeal.min.js"></script>
<script>

    //$("#ddlCategory").change(function () {
    $(document).on('change', '#ddlCategoryupdate', function () {
        //alert("change");
        var categoryidselect = this.value;

        //alert(categoryidselect);
        var CuponDetailsModel =
            {
                "categoryid": categoryidselect

            };
        $.ajax({
            url: "/Admin/Subcategoryfilter",
            data: JSON.stringify(CuponDetailsModel),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //alert(data);
                $("#divsubcategoryfilter").html(data);
            }
        });

    });

</script>
<div id="wrapper">
     

    <div class="mainnav">

        <div class="container">

            <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>

            <nav class="collapse mainnav-collapse" role="navigation">



                <ul class="mainnav-menu">

                    <li class="dropdown ">
                        <a href="@Url.Action("DashBoard", "Admin")">Dashboard</a>

                    </li>


                    <li class="dropdown ">

                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            Add
                            <i class="mainnav-caret"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">



                            <li>
                                <a href="@Url.Action("CreateCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("SubCategory", "Admin")">
                                    <i class="fa fa-bars"></i> Add SubCategories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateWebsites", "Admin")">
                                    <i class="fa fa-bars"></i> Add Websites Categories
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("CreateCupons", "Admin")">
                                    <i class="fa fa-ticket"></i> Add Coupons
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("ImageUpload", "Admin")">
                                    <i class="fa fa-picture-o"></i> Upload Images
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="@Url.Action("slider", "Admin")">Slider</a>

                            </li>



                        </ul>
                    </li>

                    <li class="dropdown active">
                        <a href="@Url.Action("CouponsList", "Admin")">Coupons List</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("MobileUsers", "Admin")">Mobile Users</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("RegUsers", "Admin")">Registered Users</a>

                    </li>

                    <li class="dropdown">
                        <a href="@Url.Action("ImportData", "Admin")">Import Data</a>

                    </li>

                </ul>

            </nav>

        </div> <!-- /.container -->

    </div>
    
    <!-- /.mainnav -->

    @using (Html.BeginForm("UpdateCupons", "Admin", FormMethod.Post, new { id = "CreateCupons" }))
    {
        <div class="content">
            <div class="container">
                <section class="demo-section">





                    <div class="col-md-6 form-group">
                        <label for="name">Title</label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", required = "required", Text = Model.Title })
                    </div> <!-- /.form-group -->


                    <div class="col-md-6 form-group">
                        <label for="name">Redirect Url</label>
                        @Html.TextBoxFor(m => m.RedirectUrl, new { @class = "form-control" })
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Redirect Type </label>


                        @Html.DropDownListFor(x => x.RedirectType, Model.RedirectTypes, new { @class = "form-control" })


                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Cupon Code</label>
                        @Html.TextBoxFor(m => m.CuponCode, new { @class = "form-control" })
                    </div> <!-- /.form-group -->
                    <div class="col-md-6 form-group">
                        <label for="name">Category</label>

                        @Html.DropDownListFor(x => x.CategoriesId, Model.Category(Model.CategoriesId), new { @class = "form-control", @id = "ddlCategoryupdate" })

                    </div>


                    <div class="col-md-6 form-group">
                        <label for="name">Website Category</label>

                        @Html.DropDownListFor(x => x.WebsitesId, Model.website(Model.WebsitesId), new { @class = "form-control", required = "required", selected = "selected" })

                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Select Image</label>

                        @Html.DropDownListFor(x => x.ImageurlId, Model.Image(Model.ImageurlId), new { @class = "form-control", required = "required" })

                    </div>

                    <div class="col-md-6 form-group">
                        <div>
                            <label for="name">Select Subcategory <span class="mandatory">*</span></label>
                        </div>
                        <div id="divsubcategoryfilter">
                            @*@Html.DropDownListFor(x => x.SubcategoriesID, Model.subcategoryList(Model.SubcategoriesID), new { @class = "validate[required] form-control" })*@
                            @Html.DropDownListFor(x => x.SubcategoriesID, Model.subcatecorylistitem, new { @class = "validate[required] form-control" })
                        </div>

                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Coupon Type</label>
                        @Html.DropDownListFor(x => x.CouponType, Model.CuponTypes, new { @class = "form-control", required = "required" })
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="name">Description</label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "4", required = "required" })

                    </div>



                    <div class="col-md-6 form-group">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                    <div class="col-md-6 form-group">
                        <a href="@Url.Action("CouponsList", "Admin")" class="btn btn-danger">Cupons List</a>
                    </div><!-- /.form-group -->




                </section> <!-- /.demo-section -->

            </div>



        </div> 
        
        <!-- .content -->

    }


</div>