﻿@model Dcupon.Models.DataModel


<!-- mobile-menu -->
<div class="hidden-desktop" id="mobile-menu">
    <ul class="navmenu">
        <li>
            <div class="menutop">
                <div class="toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
                <h2>Menu</h2>
            </div>
            <ul style="display:none;" class="submenu">
                <li>
                    <ul class="topnav">
                        <li class=" level0 nav-6 level-top first parent">
                            <a class="level-top" href="@Url.Action("index","home")"> <span>Home</span> </a>

                        </li>

                       
                        <li class="main level0 nav-7 level-top parent">
                            <a class="level-top main" href="#"> <span>All Stores</span> </a><em>+</em>
                            <ul class="level0">
                                @for (int i = 0; i < Model.listofwebsite.Count(); i++)
                                {
                                    <li class="level0 nav-7 level-top parent">
                                        <a class="level-top" href="@Url.Action("Coupons", "Home", new { src = Model.listofwebsite[i].Title })"><span>@Model.listofwebsite[i].Title</span></a>
                                    </li>


                                }

                            </ul>


                        </li>

                        @*<li class="level0 nav-6 level-top first parent">
                            <a class="level-top" href="#"> <span>Recharge</span> </a>

                        </li>*@
                      

                        @for (int i = 0; i < Model.listofCategory.Count(); i++)
                        {
                            <li class="level0 nav-6 level-top parent">
                                <a href="#" class="main"> <span>@Model.listofCategory[i].Title</span> </a>


                                <ul class="level1">

                                    @foreach (var item in Model.LoadlistofSubCategory(Model.listofCategory[i].id))
                                    {
                                        <li class="level0 nav-7 level-top paren"><a class="level-top"  href="@Url.Action("SCoupons", "Home", new { src = item.id })"><span>@item.Title</span></a></li>


                                    }

                                </ul>


                            </li>
                        }

                        
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <!--navmenu-->
</div>


<!--End mobile-menu -->

<ul id="nav" class="hidden-xs">



    <li id="nav-home" class="level0 parent drop-menu"><a href="@Url.Action("index","home")"><span>Home</span> </a></li>
    <li class="level0 parent drop-menu">
        <a href="#"><span>All Stores</span> </a>
        <ul style="display: none;" class="level1">
            @for (int i = 0; i < Model.listofwebsite.Count(); i++)
            {
                <li class="level1 first"><a href="@Url.Action("Coupons", "Home", new { src = Model.listofwebsite[i].Title })"><span>@Model.listofwebsite[i].Title</span></a></li>
               

            }
            
        </ul>
    </li>

    @*<li class="level0 parent">
        <a href="#"><span>Recharge</span> </a>
    </li>*@



    @for (int i = 0; i < Model.listofCategory.Count(); i++)
    {
        <li class="level0 nav-6 level-top parent drop-menu">
            <a href="@Url.Action("Categories", "Home", new { src = Model.listofCategory[i].Title })" class="d"> <span>@Model.listofCategory[i].Title</span> </a>


            <ul style="display: none;" class="level1">

                @foreach (var item in Model.LoadlistofSubCategory(Model.listofCategory[i].id))
                {
                    <li class="level1 first"><a href="@Url.Action("SCoupons", "Home", new { src = item.id })"><span>@item.Title</span></a></li>


                }

            </ul>


        </li>
    }

    
</ul>