﻿@model Dcupon.Models.CustomerDetails


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id='myModal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body clearfix">
                <div class="col-md-6 dark-bg-modal">
                    <p class="login-market">Welcome avail amazing discounts and offers</p>
                    @*<ul class="login-benefits">
                        <li><i class="fa fa-check"></i> Cashbacks and discounts on purchases</li>
                        <li><i class="fa fa-check"></i> Free Mobile Recharges for successful transaction</li>
                        <li><i class="fa fa-check"></i> Refer and earn special coupons</li>
                    </ul>*@

                </div>
                @using (Ajax.BeginForm("Login", "Customer", FormMethod.Post, new AjaxOptions { UpdateTargetId = "Productresults" }))
                {
                    <div class="col-md-6 user-form" id="Productresults">
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <div class="alert alert-danger userError" role="alert">Invalid username or password.</div>

                        <div class="form-group">


                            <label>Email</label>

                            @Html.TextBoxFor(m => m.Email, new { @class = "validate[required] form-control", placeholder = "Enter your email address", required = "required" })

                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            
                            @Html.TextBoxFor(m => m.Password, new { @class = "validate[required] form-control", type = "password", placeholder = "********", required = "required" })

                        </div>

                        

                        <div class="form-group">
                            <button type="button" class="btn btn-primary pull-right userlogin">Login</button>
                            <a href="#" data-toggle="modal" data-target="#forgotpass" data-dismiss="modal" class="forgot-pass">Forgot Password? | </a>
                            <a href="#" data-toggle="modal" data-target="#userReg" data-dismiss="modal" class="new-user">New user?</a>
                        </div>



                    </div>
                }
            </div>

        </div>
    </div>
</div>
<!--modal-->
<!-- Modal -->
<div class="modal fade" id='userReg' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                @using (Ajax.BeginForm("Register", "Customer", FormMethod.Post, new AjaxOptions { UpdateTargetId = "Productresult" }))
                {

                    <div class="col-md-10 user-reg-form" id="Productresult">


                        <div class="signup-header">
                            <p>Signup to earn mobile recharges and exlusive deals updates.</p>

                        </div>

                        <div class="alert alert-danger userError" role="alert">Invalid username or password.</div>

                        <div class="form-group">


                            <label>Name</label>


                            @Html.TextBoxFor(m => m.Name, new { @class = "validate[required] form-control", placeholder = "Enter your name", required = "required" })
                        </div>



                        <div class="form-group">


                            <label>Email</label>


                            @Html.TextBoxFor(m => m.Email, new { @class = "validate[required,custom[email]] form-control", placeholder = "Enter your email", required = "required" })
                        </div>

                  
                        <div class="form-group">
                            <label>Password</label>
                            @Html.TextBoxFor(m => m.Password, new { @class = "validate[required] form-control", type = "password", placeholder = "********", required = "required" })

                        </div>


                        <div class="form-group">
                            <input type="checkbox" checked="checked" disabled="disabled"/>
                            <span>By continuing, you agree to the <a href="@Url.Action("termsofuse","home")" class="termsofuse">Terms and Conditions.</a></span>

                        </div>
                        

                    

                        <div class="form-group">
                            <button type="button" class="btn btn-primary pull-right cust_login">Register</button>
                            <a href="#" data-toggle="modal" data-target="#myModal" data-dismiss="modal" class="new-user pull-right">Already registered?</a>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</div>
<!--modal-->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id='needrecharge' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body clearfix">
                <div class="col-md-6 dark-bg-modal">
                    <p class="login-market">3 Easy Steps To Earn Recharge</p>
                    <ul class="login-benefits">
                        <li><i class="fa fa-check"></i> Enter your recharge details</li>
                        <li><i class="fa fa-check"></i> Visit store via <b>ontodeals</b></li>
                        <li><i class="fa fa-check"></i> Get recharge within 6 to 10 weeks</li>
                    </ul>

                </div>
                @using (Ajax.BeginForm("GetRecharge", "Customer", FormMethod.Post, new AjaxOptions { UpdateTargetId = "Getrecharge" }))
                {
                    <div class="col-md-6 user-form" id="Productresults">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <div class="form-group">


                            <label>Email</label>


                            @Html.TextBoxFor(m => m.custmobile.Name, new { @class = "form-control",  placeholder = "Enter your Email address", required = "required" })
                        </div>


                        <div class="form-group">


                            <label>Mobile</label>

                            @Html.TextBoxFor(m => m.custmobile.Mobile, new { @class = "form-control", id = "custmobile", placeholder = "Enter your mobile number", required = "required" })
                        </div>  

                        <div class="form-group">


                            <label>Mobile Operator</label>

                           
                            @Html.DropDownListFor(x => x.custmobile.MobileOperator, Model.MobileOperators, new { @class = "form-control", required = "required" })



                        </div>

                        <div class="form-group">
                            
                            
                            @Html.RadioButtonFor(x => x.custmobile.ConnectionType, new { @id = "1", name = "pre" })
                            <label>Prepaid</label>
                            @Html.RadioButtonFor(x => x.custmobile.ConnectionType, new { @id="2", name = "pre" })
                             
                            <label>Postpaid</label>

                        </div>
                       

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right">Yes i want free rechrage</button>
                            <a href="#" data-toggle="modal" data-dismiss="modal" aria-label="Close" class="new-user pull-right">skip</a>
                        </div>



                    </div>
                }
            </div>

        </div>
    </div>
</div>
<!--modal-->

@*<script>
    $(document).ready(function () {
      
        $('.cust_login').click(function () {

            var modelDataJSON =  '@Html.Raw(Json.Encode(Model))';
            //var obj=JSON.parse(modelDataJSON);
            //console.log(obj);

            $.ajax({
                url: "/Customer/Login",
                type: 'POST',
                dataType: 'json',
                data:  ,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert(data);
                }
            });

        })



    })

</script>*@


<!-- Modal -->
<div class="modal fade" id='forgotpass' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="alert alert-danger userError" role="alert"></div>
                <form>
                    <div class="form-group">


                        <label>Enter you registered Email id</label>
                        <input type="text" class="validate[required,custom[email]] form-control" id="forgotemail" />
                        <br />
                        <button type="button" class="btn btn-primary pull-right forgot-pass-submit">Submit</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--modal-->