﻿
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-block">
    <div class="col-md-12"><br /><br />
        <div class="new_title center">
            <h2>About Ontodeals</h2>
        </div> <br/>

        <p> We choose the Best deals Online and update them better than most other Coupon and Deal sites. </p>
        <p>
            Think of it as your personal “ONE STOP ONLINE SHOP” find the Best Price Right now and get assured  the biggest Online Savings possible on Shopping  | Fashion  | Electronics  | Travel   | Recharge | Food
            and on Top you will get Mobile Recharge or DTH Recharge or Gift Vouchers as Cash Back means, you’ll always save better shopping through Ontodeals.com,
        </p>
    
      <p>It’s like getting paid to shop online. Sign up for free or Enter your Mobile Number ,E-Mail i.d in Recharge Form and Shop , So you don’t miss any more Deals,Coupons or Savings.</p> 
           <br/><br /><br />
        

    </div>
</div>
