﻿@model Dcupon.Models.DataModel
@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="magik-slideshow" class="magik-slideshow">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-md-8 wow " style="visibility: visible;">              

                

                  <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
            <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
              <ul>
                  @for (int i = 0; i < Model.listofsliders.Count; i++)
                  { 
                         <li data-transition='slideleft' data-slotamount='7' data-masterspeed='1000'  class="black-text">
                    <img src='@Model.listofsliders[i].ImageUrl' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                
                  <div    class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='66'  data-y='140'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap; font-size:28px;'>Exclusive offers</div>
                  <div    class='tp-caption sfb  tp-resizeme ' data-x='66'  data-y='265'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href="@Model.listofsliders[i].RedirectUrl" target="_blank" class="view-more">View Deals</a></div>
                  <div    class='tp-caption Title sft  tp-resizeme ' data-x='66'  data-y='180'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;'>@Model.listofsliders[i].Description</div>
                  <div    class='tp-caption Title sft  tp-resizeme ' data-x='66'  data-y='400'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;font-size:11px'>*Terms and Conditions apply.</div>
                </li> 
                
         
                  }
                      
                 
             
              


              </ul>
              <!-- <div class="tp-bannertimer"></div> -->
            </div>
          </div>



                
                
            </div>
            <aside class="col-xs-12 col-sm-12 col-md-4">
                <div class="RHS">
                    <div class="add">


                        <img src="~/Content/images/adss.jpg" id="show-img" style="">
                    </div>

                </div>
            </aside>
        </div>
    </div>
</div>

<section class="recommend container">
    <div class="recommend-product-slider small-pr-slider">
        <div class="slider-items-products">
            <div class="new_title center">
                <h2>Featured Coupons</h2>
            </div>
            <div id="shoes-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col3">
                    <!-- Item -->
                    @for (int i = 0; i < Model.listofCupon.Count(); i++)
                    {
                    
                    
                    <div class="item">
                        <div class="col-item">
                            <div class="product-image-area">
                                <a class="product-image" title="Sample Product" href="@Url.Action("Coupons", "Home", new { src = Model.listofCupon[i].Title })">
                                    <img src="@Model.listofCupon[i].ImageUrl" class="img-responsive" alt="a" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="info-inner">
                                    <!--item-title-->
                                    <div class="item-content">
                                        <div class="price-box">
                                            <p class="special-price"> @Model.CuponCountweb(Model.listofCupon[i].WebId) Coupons </p>
                                        </div>
                                    </div>
                                    <!--item-content-->
                                </div>
                                <!--info-inner-->
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    }
                    <!-- End Item -->
                    
                    <!-- End Item -->
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Slider -->

<section class="featured-pro container wow ">
    <div class="slider-items-products">
        <div class="new_title center">
            <h2>Top Offers</h2>
        </div>
        <div id="featured-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4">
                @for (int i = 0; i < Model.listofTopOffers.Count(); i++)
                {
                <!-- Item -->
                    <div class="item">
                        <div class="col-item">
                            <div class="product-image-area">
                                <a class="product-image" title="Sample Product" target="_blank" href="@Model.listofTopOffers[i].RedirectUrl">
                                    <img src="@Model.listofTopOffers[i].ImageUrl" class="img-responsive" alt="a" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title=" Sample Product" target="_blank" href="@Model.listofTopOffers[i].RedirectUrl"> @Model.listofTopOffers[i].Title </a> </div>
                                    <!--item-title-->
                                    <!--item-content-->
                                </div>
                                <!--info-inner-->
                                <div class="actions">
                                    
                                    <a href="@Model.listofTopOffers[i].RedirectUrl" class="coupon-popover" data-cupon-type="@Model.listofTopOffers[i].RedirectType" data-cupon-code="@Model.listofTopOffers[i].CuponCode" data-coupon-description="@Model.listofTopOffers[i].Description" data-coupon-website="@Model.listofTopOffers[i].Website" target="_blank" data-url="@Model.listofTopOffers[i].RedirectUrl">View Deal </a>        
                                
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                <!-- End Item -->

                }
            </div>
        </div>
    </div>
</section>

<section class="featured-pro container wow " id="dealofday">
    <div class="slider-items-products">
        <div class="new_title center">
            <h2>Deals of the Day</h2>
        </div>
        <div id="" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4">
                @for (int i = 0; i < Model.listofdealsoftheday.Count(); i++)
                {
                <!-- Item -->
                    <div class="col-md-2 item">
                        <div class="col-item">
                            <div class="product-image-area">
                                <a class="product-image" title="Sample Product" target="_blank" href="@Model.listofdealsoftheday[i].RedirectUrl">
                                    <img src="@Model.listofdealsoftheday[i].ImageUrl" class="img-responsive" alt="a" />
                                </a>
                            </div>
                            <div class="info">
                                <div class="info-inner">
                                    <div class="item-title"> <a target="_blank" href="@Model.listofdealsoftheday[i].RedirectUrl" title="@Model.listofdealsoftheday[i].Title"> @Model.listofdealsoftheday[i].Title </a> </div>
                                    <!--item-title-->
                                    <!--item-content-->
                                </div>
                                <!--info-inner-->
                                <div class="actions">
                                    <br />
                                    <a href="@Model.listofdealsoftheday[i].RedirectUrl" class="coupon-popover" data-cupon-type="2" data-cupon-code="@Model.listofdealsoftheday[i].CuponCode" data-coupon-description="@Model.listofdealsoftheday[i].Description" data-coupon-website="@Model.listofdealsoftheday[i].Website" target="_blank" data-url="@Model.listofdealsoftheday[i].RedirectUrl">View Deal </a>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                <!-- End Item -->

                }
            </div>
        </div>
    </div>
</section>





<!-- End Featured Slider -->
<div class="promo-banner-section container wow">
    <div class="container">
        <div class="row"> <img alt="promo-banner3" src="~/Content/images/jewelry-banner.jpg">
            
        </div>
    </div>