@model Dcupon.Models.AdminModel



@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">

    <div class="container">





        <div class="row">

            <div class="col-md-12">

                <div class="portlet">

                    

                    <div class="portlet-body">

                        <div class="col-md-4">
                            <h4 class="portlet-title">
                                <br /><br />
                                <u>Reset your password</u>
                            </h4>
                            <form>
                                <div class="alert alert-danger userError" role="alert">Email is not Registerd.</div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="validate[required] form-control" id="confirmm" />
                                    <input type="hidden" id="email" value="@Model.Username" />
                                    <input type="hidden" id="token" value="@Model.PasswordVerificationToken" />
                                </div>

                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="validate[required] form-control" id="confirm-password" />
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-danger submit-pass">Submit</button>

                                </div>


                            </form>

                        </div>

                    </div> <!-- /.portlet-body -->

                </div> <!-- /.portlet -->

            </div> <!-- /.col -->




        </div> <!-- /.row -->




    </div> <!-- /.container -->

</div> <!-- .content -->



<footer class="footer">
    <div class="container">
        <p class="pull-left">Copyright &copy; @DateTime.Now.Year ontodeals.com</p>
    </div>
</footer>