﻿
@{
    ViewBag.Title = "press";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <br /><br />
        <div class="new_title center">
            <h2>Our Blog</h2>
        </div> <br />
        <p>Coming soon...</p>
        <br /><br /><br />


    </div>
</div>

