﻿<!DOCTYPE html>
<html>
<head>
    <title>OnToDeals Admin-Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Font: Open Sans -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mvpready-admin.css" rel="stylesheet" />
    <link href="~/Content/css/mvpready-flat.css" rel="stylesheet" />

    <link href="~/Content/css/validationEngine.jquery.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @*<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>*@

    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.validationEngine-en.js"></script>
    <script src="~/Content/js/jquery.validationEngine.js"></script>
    <script src="~/Content/js/mvpready-core.js"></script>
    <script src="~/Content/js/mvpready-admin.js"></script>
    <script src="~/Content/js/auto.js"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@

 
</head>

<body>

    <div id="wrapper" class="login_wrapper" style="">

        <header class="navbar navbar-inverse" role="banner">

            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-cog"></i>
                    </button>

                    <a href="http://ontodeals.com/" class="navbar-brand navbar-brand-img">
                        <img class="admin-logo" alt="ontodeals" src="~/Content/images/logo-new.png">
                    </a>
                </div> <!-- /.navbar-header -->


                <nav class="collapse navbar-collapse" role="navigation">




                    <ul class="nav navbar-nav navbar-right">



                        <li class="dropdown navbar-profile">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                Welcome! Admin
                                <!-- <img src="img/avatar-1-xs.jpg" class="navbar-profile-avatar" alt=""> -->
                                <span class="navbar-profile-label">rod@rod.me &nbsp;</span>
                                <i class="fa fa-caret-down"></i>
                            </a>

                            <ul class="dropdown-menu" role="menu">



                                <li class="divider"></li>

                                <li>
                                    <a href="@Url.Action("Login","Admin")">
                                        <i class="fa fa-sign-out"></i>
                                        &nbsp;&nbsp; Logout
                                    </a>
                                </li>

                            </ul>

                        </li>

                    </ul>

                </nav>

            </div> <!-- /.container -->

        </header>

     @RenderBody()


    </div> <!-- /#wrapper -->


 

</body>
</html>