﻿
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        @*<div class="page-header">
            <h1>Welcome<small class="capitalize"> @Session["Username"]</small></h1>
        </div>*@
        <br/><br />
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                
                <li role="presentation" class="active"><a href="#activity" aria-controls="profile" role="tab" data-toggle="tab">My Actvitiy</a></li>
                <li role="presentation" ><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Refer</a></li>
                
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                

                <div role="tabpanel" class="tab-pane active" id="activity">
                    <p class="no-act">Currently no activities to display</p>
                </div>

                <div role="tabpanel" class="tab-pane " id="home">
                    <div class="jumbotron">
                        <h2>Welcome <span class="small-font capitalize">@Session["Username"]</span></h2>
                        <p>We are ontdeals, We provide the Best deals Online and update them better than most other Coupon and Deal sites.</p>
                        @*<p>As a registred userd you will be rewarded with exciting offers and fasicanting benfeits.</p>*@
                        <p class="refer-p">Refer us to a friend</p>

                        <a class="email-fr" href="mailto:?subject=Ontodeals.com%20coupons%20and%20discount%20website&amp;body=Hi%20%0A%0AI%20found%20excellent%20deals%20and%20coupons%20on%20ontodeals.com%20thought%20you%20might%20be%20intrested%20too">Email</a>

                        <div class="col-md-1 add-mag-left">
                            <div class="fb-share-button" data-href="http://ontodeals.com/" data-layout="button_count"></div>
                        </div>
                        <div class="col-md-1">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ontodeals.com/">Tweet</a>
                        </div>

                        <div class="col-md-2">


                            <div class="g-plus" data-action="share" data-annotation="none" data-href="http://ontodeals.com/"></div>
                        </div>


                    </div>

                </div>
                
            </div>

        </div>




     
    </div>
</div>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>


