@model Dcupon.Models.CustomerDetails
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-block">
    <div class="col-md-12">
        <br /><br />
        <div class="new_title center">
            <h2>Reset your password</h2>
        </div> <br />

        <form>

            <div class="col-md-4">
                <div class="alert alert-danger userError" role="alert"></div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="validate[required] form-control" id="new-pass" />
                    <input type="hidden" id="email" value="@Model.Email" />
                    <input type="hidden" id="token" value="@Model.passwordVerificationToken" />
                </div>

                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="validate[required] form-control" id="renew-pass" />

                </div>

                <div class="form-group">
                    <button class="btn-primary pass-reset">Reset Password</button>

                </div>
            </div>
        </form>

        
        <br /><br /><br />


    </div>
</div>

