
@{
    ViewBag.Title = "termsofuse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-block">
    <div class="col-md-12">
        <br /><br />
        <div class="new_title center">
            <h2>Terms of Use</h2>
        </div> <br />

 
        <p>       Ontodeals.com owns and operate this Website,In this document which dictates all the terms and conditions for the use of the website www.ontodeals.com (We,us,Company or ontodeals)Please read these terms of service ('Terms of Service' or "Agreement") carefully as which contain the legal terms and conditions that you agree to when you register as user or as Guest use the service provided by us. The Terms and Conditions may be subject to change in the future as per clause 8 on Modification of Terms.</p>
        <ol>
            <li>Merchants/Stores/Retailers are the E-commerce websites where you are transacting and they deliver the products/services to you. They give us payout/referral fee for valid transactions (as tracked by them or via the affiliate Ad networks) and we share part of that referral fee as Mobile/DTH Recharge /GiftVoucher to you.</li>

            <li>We Enable registration for our service using your Email address and a password that you create to access the website or you can also register using your Face Book,Twitter and Google Account later after upgradation to our Website,</li>

            <li>You must ensure that you use correct information (Name, Email address etc) in order to Register for the Service. We only allow one account per person and change in email address is not permitted, hence you must ensure that you have access to the email address that you use in order to register for the service. In case you lose access to this email address in the future, you will have to register for the service again and will not be able to avail of the Recharge/Gift Voucher in your previous account.</li>

            <li>When you complete a valid transaction at one of our partner Ecommerce websites (either online or through their mobile browser or mobile application) and once we receive the payout/ referral fee from them for such valid and tracked transactions, then part of this will be passed to you as Mobile/DTH recharge/Gift Voucher as per the Recharge/Gift Voucher Offers communicated on our website</li>
            <li>
                A valid transaction is defined as one where a registered user was logged in and clicked out and completed a transaction on one of our partner websites through us and if a coupon code was used then it was from our website (FOOD,RECHARGE,TRAVAL catogories which we mention on our website may not qualify for Recharge/Gift Voucher Offers from Ontodeals)
                *Complete your purchase in the same session after clicking trough Ontodeals.com
            </li>

            <li>
                Disclaimer: <b>Ensure to add the product to cart on partner's site after selecting a deal,offer or coupon through us, to get recharge or gift voucher from us. </b>

                Recharge/Gift Voucher offer will not be valid if you return or exchange, all or any part of your order. In all these cases Recharge/Gift Voucher Offer for the order will be Cancelled.

                Do not visit any other coupon,deal or price comparison,Deals site in between clicking-out from Ontodeals.com

                Only use Coupons available on Ontodeals.com to get Recharge Amount.

                Recharge/Gift Voucher Offer is NOT valid if you to use a Coupon(from other Website),GiftCard,GiftVoucher,Gift Certificate or Store Credit  .

                *Recharge offer rates or any other offers from us are subject to change at any time without prior notification
            </li>

            <li>
                Intellectual Property, Software and Content:

                The Intellectual Property rights in all Software,Content and Photographic images made available to you on or through this Website remains the property of ontodeals.com or its licensors,Partners and are protected by copyright laws and treaties around the world. All such rights are reserved by ontodeals.com and its licensors,partners,You may store, print and display the content supplied solely for your personal use. You are not permitted to publish, manipulate, distribute or reproduce the content in any format for any business or Commercial purpose.
            </li>
            <li>We reserve the right to make changes to our Website, policies,Terms and Conditions of use at any Time. You will be subject to the policies,Terms and Conditions of use in force at the Time that you use the website or that you shop through us.You acknowledge and agree that it is your responsibility to review this Terms&Conditions periodically and become aware of the Modifications to it</li>
        </ol> 
            <br /><br /><br />


    </div>
</div>


