
@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-block">
    <div class="col-md-12">
        <br /><br />
        <div class="new_title center">
            <h2>FAQ</h2>
        </div> <br />


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            What is Ontodeals
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Ontodeals.com is a website which update latest Offers ,Deals and Coupons  of various Online retailers or Stores ,Travel ,shopping,Recharge and Food stores.,Ontodeals partnered with many Online Stores and Retailers , Visit your favourite online stores through ontodeals.com and get Mobile recharge/DTH Recharge from us on every Shopping made(*above INR 300),We help our members to have Great online shopping experience.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Why do we use Ontodeals
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Ontodeals share part of Service Fee ,We get from retailers or Stores to our users in the form of Mobile/DTH recharge. Unlike most other Coupons,Deals websites, Ontodeals.com provide Mobile/DTH recharge within 6 to 10 weeks from the date of Purchase or Transaction made via us, Register or Log in  is optional one can earn mobile recharge by entering mobile Number mail i.d and Shop through Ontodeals.com:

                        * Enter Mobile number , Email I.d  and Service provider Name  in Recharge detail(Top Yellow Link) form and Select the Offer,Deal or Coupon in your favourite store or Retailer . (*Read Terms of use in Quick Links at the Bottom)

                        * Visit the Store or retailer through ontodeals.com ,shop and get Mobile recharge on top of Discount,Offer,Coupon,Deal etc
                    </div>
                </div>
            </div>

        </div><!-- ending accrodion-->
        <br /><br /><br />


    </div>
</div>

