
@{
    ViewBag.Title = "RechargeOffers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-block">
    <div class="col-md-12">
        <br /><br />
        <div class="new_title center">
            <h2>Recharge Offers</h2>
        </div> <br />
        <div class="col-md-5">
            <p><b>&nbsp;&nbsp;Catogeries other than *Electronics,*Food,*Travel</b></p>

            <table class="table">
                <tr>
                    <th>
                        Buying Range
                    </th>
                    <th>
                        Recharge Amount
                    </th>
                </tr>

                <tr>
                    <td>300-500</td>
                    <td>15</td>
                </tr>

                <tr>
                    <td>501-1000</td>
                    <td>30</td>
                </tr>

                <tr>
                    <td>1001-1500</td>
                    <td>40</td>
                </tr>

                <tr>
                    <td>1501-4000</td>
                    <td>50</td>
                </tr>

                <tr>
                    <td>4001-7500</td>
                    <td>100</td>
                </tr>
                

                <tr>
                    <td>7501 and above</td>
                    <td>150</td>
                </tr>

            </table>

        </div>
     

      
       
        <div class="col-md-5">
            <p><b>&nbsp;&nbsp;Electronics</b></p>
            <table class="table">
                <tr>
                    <th>Purchase Range</th>
                    <th>Recharge Amount</th>
                </tr>

                <tr>
                    <td>2000-5000</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>5001-10000</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>10001-15000</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>15001-22000</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>22000-30000</td>
                    <td>200</td>
                </tr>

            </table>

        </div>
      
        <p class="clearfix"></p>
        <p>*Gift Voutures for Rs 500/- to R1000/- will be offered on Purchase Value made above Rs 30000/-</p>

        <p><b>Ontodeals currently does not provide any offers or rechrage benefits for FOOD,RECHARGE and TRAVEL Related coupons,offers and deals.</b></p> 


        <br /><br /><br />


    </div>
</div>
